In [1]:
from pykrx import stock
import pandas as pd

In [11]:
def PER_PBR_day_filtering(date, per_min, per_max, mc_group):
    
    kospi_mc = stock.get_market_cap(date, market="KOSPI")
    kosdaq_mc = stock.get_market_cap(date, market="KOSDAQ")
    
    all_mc = pd.concat([kospi_mc,kosdaq_mc], axis=0)[['시가총액']].sort_values('시가총액',ascending=True)
    all_mc['group'] = pd.cut(all_mc.reset_index().index, bins=3, labels=['소형주','중형주','대형주'])
    if mc_group == '소형주':
        filtered_mc = all_mc.groupby("group").get_group("소형주")
    elif mc_group =='중형주':
        filtered_mc = all_mc.groupby("group").get_group("중형주")
    elif mc_group =='대형주':
        filtered_mc = all_mc.groupby("group").get_group("대형주")

    kospi_per_pbr = stock.get_market_fundamental(date, market="KOSPI")
    kosdaq_per_pbr = stock.get_market_fundamental(date, market="KOSDAQ")
    all_per_pbr = pd.concat([kospi_per_pbr ,kosdaq_per_pbr], axis=0)[['PER','PBR']]
    
    filtered_data = pd.merge(left=filtered_mc, right=all_per_pbr, left_index=True, right_index=True).query('PBR != 0')
    cond = (filtered_data['PER'] >= per_min ) & (filtered_data['PER'] <= per_max)
    filtered_data = filtered_data[cond].sort_values('PBR')[0:30]

    filtered_ticker = list(filtered_data.index)
    return filtered_ticker

In [24]:
ticker_list = PER_PBR_day_filtering('20180102',2.5,10,'소형주')
ticker_list

['010100',
 '019010',
 '002220',
 '010770',
 '012860',
 '023810',
 '012620',
 '004090',
 '115570',
 '032080',
 '064820',
 '017650',
 '130740',
 '071850',
 '024910',
 '017480',
 '008500',
 '019490',
 '019540',
 '009140',
 '214330',
 '005820',
 '060380',
 '021050',
 '008420',
 '015260',
 '008370',
 '170030',
 '011500',
 '004590']

In [26]:
ticker = "010100"
close_data = stock.get_market_ohlcv("20180102","20180202",ticker)[['종가']]
close_data.rename(columns={'종가':ticker}, inplace=True)
close_data.index.names=['Date']
close_data.index

DatetimeIndex(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05',
               '2018-01-08', '2018-01-09', '2018-01-10', '2018-01-11',
               '2018-01-12', '2018-01-15', '2018-01-16', '2018-01-17',
               '2018-01-18', '2018-01-19', '2018-01-22', '2018-01-23',
               '2018-01-24', '2018-01-25', '2018-01-26', '2018-01-29',
               '2018-01-30', '2018-01-31', '2018-02-01', '2018-02-02'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [23]:
close_data = pd.DataFrame()
for ticker in ticker_list:
    one_stock = stock.get_market_ohlcv("20180102","20180202",ticker)[['종가']]
    one_stock.rename(columns={'종가':ticker}, inplace=True)
    one_stock.index.names=['Date']
    
    close_data.join(one_stock, how)

close_data

,010100,019010,002220,010770,012860,023810,012620,004090,115570,032080,...,214330,005820,060380,021050,008420,015260,008370,170030,011500,004590
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-02,1970.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-03,1970.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-04,1960.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-05,1960.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-08,1866.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-01-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3735.0
2018-01-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3945.0
2018-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3910.0
2018-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4045.0
2018-02-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4030.0

In [16]:
close_data.head()

Empty DataFrame
Columns: []
Index: []